{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<body class="overflow-reset">

<!-- Wrapper -->
<div id="wrapper">


<!-- Titlebar
================================================== -->
<section id="titlebar">
	<!-- Container -->
	<div class="container">

		<div class="eight columns">
			<h2>Submit Recipe</h2>
		</div>

		<div class="eight columns">
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="#">Home</a></li>
					<li>Submit Recipe</li>
				</ul>
			</nav>
		</div>

	</div>
	<!-- Container / End -->
</section>



<!-- Content
================================================== -->
<div class="container">
	<div class="sixteen columns">
		<div class="submit-recipe-form">


			<!-- Recipe Title -->
			<h4>Recipe Title</h4>
			<nav class="title">
				<input class="search-field" type="text" name ="title" placeholder="" value=""/>
			</nav>
			<div class="clearfix"></div>


			<div class="margin-top-25"></div>


		

			<!-- Upload Photos -->
			<h4>Upload your photos</h4>

			<ul class="recipe-gallery">
				<li>No photos uploaded yet</li>
			</ul>

			<label class="upload-btn">
			    <input type="file" multiple />
			    <i class="fa fa-upload"></i> Upload
			</label>


			<div class="clearfxix"></div>
			<div class="margin-top-15"></div>


			<!-- Ingredients -->
			<!-- Ingredients -->
            <fieldset class="addrecipe-cont" name="ingredients">
				<h4>Ingredients:</h4>
					<table id="memberTable" style="width:500px;">
						<tr>
							<td><input type="text" id="ingredientname" name="ingredientname[]" placeholder = "재료명"/></td>
							<td><input type="text" id="ingredientnote" name="ingredientnote[]" placeholder = "(양, 추가정보)"/></td>
							<td style="width:50px;"></td>
						</tr>
					</table>
				</fieldset>
				<div style="width:500px; text-align:right;">
						<input type="button" value="재료추가"  id="btnAddRow" />
						<input type="button" value="초기화" id="tableReset"/>
				</div>

	

			<div class="margin-top-25"></div>


			<!-- Directions -->
			<h4>Directions</h4>
			<textarea class="WYSIWYG" name="directions" cols="40" rows="3" id="directions" spellcheck="true"></textarea>


			<div class="margin-top-25 clearfix"></div>



			<div class="margin-top-25"></div>


			
			<form action="{% url 'bab:submitrecipe' %}" method="POST">
				{% csrf_token %}
				<br>
				<input type="submit" value="작성" class="btn btn_primary">
				<br>
			</form>
				<a href="" class="button color big">Submit Recipe</a>

		</div>
	</div>
</div>
<!-- Container / End -->


<div class="margin-top-50"></div>

</div>
<!-- Wrapper / End -->






<!-- WYSIWYG Editor -->
<script type="text/javascript" src="{% static 'scripts/jquery.sceditor.bbcode.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery.sceditor.js' %}"></script>



<script type="text/javascript">
	$(function() {
		$("#btnAddRow").on("click",function() {
			// clone
			$.trClone = $("#memberTable tr:last").clone().html();
			$.newTr = $("<tr>"+$.trClone+"</tr>");

			// append
			$("#memberTable").append($.newTr);

			// delete Button 추가
			$.btnDelete = $(document.createElement("input"));
			$.btnDelete.attr({
				name : "btnRemove",
				type : "button" ,
				value : "삭제"
			});
			$("#memberTable tr:last td:last").html("");
			$("#memberTable tr:last td:last").append($.btnDelete);

			// 버튼에 클릭 이벤트 추가
			$("#memberTable tr>td:last>input[type='button']").on('click', function(){
				$(this).parent().parent().remove();
			});
		});

		// 초기화
		$("#tableReset").on("click",function(){
			$("#frmTest").each(function(){ this.reset(); });

			$("input[name='btnRemove']").each(function () {
				$(this).trigger('click');
			});
		});
	});
</script>


</body>
</html>
{% endblock %}